body {

    font-family: Arial, sans-serif;

    background-color: #f4f4f4;

    margin: 0;

}



.container {

    width: 70%;

    margin: auto;

    background: white;

    padding: 20px;

}



header {

    text-align: center;

    border-bottom: 1px solid #ccc;

    padding-bottom: 10px;

}



.info span {

    display: block;

    color: gray;

    margin: 5px 0;

}



section {

    margin-top: 20px;

}



h2 {

    border-bottom: 1px solid #ddd;

    padding-bottom: 5px;

    color: #333;

}



#welcomebtn{

    padding: 10px 15px;

    background-color: #333;

    color: white;

    border: none;

    cursor: pointer;

}

#welcombtn:hover {

    background-color: #555;

}


